/* GOOGLE font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* variables css */
:root {
    --header-height: 3rem;
    /* font weight */
    --font-medium: 500;
    --font-semi-blod: 600;
    --font-blod: 700;

    /* colores */
    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --dark-color-lighten: #f2f2f2;
    --White-color: #fff;

    /* font and typography */
    --body-font: "Poppins", sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;

    /* margeners */
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-fixed: 100;

    /* rotate img */

    --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}
/* base */
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0  0  0 ;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* class css */
.section{
    padding: 5rem 0 2rem;
}

.section__title{
    position: relative;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
    letter-spacing: .1rem;
}

.section__title::after{
    content: '';
    position: absolute;
    width: 56px;
    height: .18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

/* layout */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap:2rem ;
    width: calc(100% - 2rem);
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--dark-color-lighten);
}

/* button */
.button{
    display: inline-block;
    min-width: 175px;
    background-color: var(--dark-color);
    color: var(--White-color);
    padding: 1.125rem 2rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    transform: translateY(-.25rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
}

.button-light{
    display: inline-flex;
    color: var(--dark-color);
    font-weight: var(--font-blod);
    align-items: center;
    position: relative;
}

.button-light::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: calc(100% + .4rem);
    transform-origin: right;
    height: .125rem;
    transform: scaleX(0);
    background-color: var(--dark-color);
    
    transition:transform .5s;
}
.button-light:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button-light:hover .button__icon{
    transform: translateX(.5rem);
}

/* nav */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--White-color);
        transition: left .5s ease-in-out;
    }
}
.nav__item{
    margin-bottom: var(--mb-2);
}
.nav__logo{
    font-weight: var(--font-semi-blod);
}
.nav__toggle,.nav__shop{
    font-size: 1.3rem;
    cursor: pointer;
}
/* ---show menu--- */
.nav__menu.active{
    left: 0;
}
/* ---active link--- */
.nav__link.active{
    position: relative;
}
.nav__link.active::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

/* ---change color header--- */
.scroll-header{
    background-color: var(--White-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
/* home */
.home{
    background-color: var(--dark-color-lighten); 
    overflow: hidden;   
}

.home__container{
    height: calc(100vh - var(--header-height));
}

.home__sneaker{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.home__shape{
    width: 220px;
    height: 220px;
    background-color: var(--dark-color);
    border-radius:50% ;
}

.home__img{
    position: absolute;
    top: 1.5rem;
    max-width: inherit;
    width: 275px;
    transform: var(--rotate-img);
}

.home__new{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-blod);
}

.home__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-0-5);
}

.home__description{
    margin-bottom: var(--mb-3);
}
/* featured */
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(220px ,1fr));
}

.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    transition: .3s;
}

.sneaker__sale{
    position: absolute;
    left: .5rem;
    background-color: var(--dark-color);
    color: var(--White-color);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
}
.sneaker__img{
    /* justify-self: center; */
    position: relative;
    width: 220px;
    margin-top: var(--mb-1-5);
    margin-bottom: var(--mb-3);
    transform: var(--rotate-img);
    filter: drop-shadow(0 12px 8px rgba(0 , 0 ,0,.2));
}

.sneaker__name, .sneaker__preci{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font-blod);
}

.sneaker__name{
    margin-bottom: var(--mb-0-5);
}

.sneaker__preci{
    margin-bottom: var(--mb-2);
}
.sneaker__page{
    margin-top: var(--mb-3);
}
.sneaker__pag{
    padding: .5rem 1rem;
    border: 1px solid var(--dark-color);
    cursor: pointer;
    
}
.sneaker__pag:hover{
    background-color: var(--dark-color);
    color: var(--White-color);
}
.sneaker__pag.active{
    background-color: var(--dark-color);
    color: var(--White-color);
}
.sneaker__pag i{
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: var(--font-medium);
    position: relative; 
    bottom: -.2rem;   
}

.sneaker:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}


/* collection */
.collection__container{
    row-gap: 2rem;
    justify-content: center;
}

.collection__card{
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--dark-color-lighten);
    padding: 2rem;
    border-radius: .5rem;
    transition: .2s;
}

.collection__data{
    align-self: flex-end;
}

.collection__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}
.collection__name{
    font-size: var(--bigger-font-size);
    margin-bottom: .25rem;
}
.collection__description{
    margin-bottom: var(--mb-1);
}
.collection__card:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
}
/* women sneakers */
.women__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
/* offer */
.offer__container{
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    justify-content: center;
}

.offer__data{
    padding: 4rem 0 4rem 1.5rem;
}
.offer__title{
    font-size: var(--biggest-font-size);
    margin-bottom: .25rem;
}
.offer__description{
    margin-bottom: var(--mb-1-5);
}
.offer__img{
    width: 150px;
}
/* new collection */
.new__container{
    row-gap: 2rem;
}
.new__mens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    padding: 2rem;
}
.new__mens-img{
    width: 276px;
    margin-bottom: var(--mb-1-5);
}
.new__title{
    font-size: var(--bigger-font-size);
    margin-bottom: .25rem;
}
.new__preci{
    display: block;
    margin-bottom: var(--mb-1-5);
}

.new__sneaker{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
}
.new__sneaker-card{
    position: relative;
    padding: 3.5rem 1.5rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.new__sneaker-img{
    width: 220px;
}
.new__sneaker-overlay{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 138, 183, .3);
}
.new__sneaker-card:hover .new__sneaker-overlay{
    bottom: 0;
}

.new__sneaker-overlay .button{
    position:absolute;
    top: 0;
    left: 50%;
    transition-delay: .1s;
    transform: translate(-50%,0);
    transition: .3s;
}

.new__sneaker-card:hover .new__sneaker-overlay .button{
    top: 70%;
    transform: translate(-50%,-70%);
}


/* newsletter */
.newsletter__container{
    background-color: var(--dark-color);
    color: var(--White-color);
    padding: 2rem .5rem;
    border-radius: .5rem;
    text-align: center;
}

.newsletter__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-2-5);
}

.newsletter__subscribe{
    display: flex;
    column-gap: .5rem;
    background-color: var(--White-color);
    padding: .5rem;
    border-radius: .5rem;
}
.newsletter__input{
    outline: none;
    border: none;
    margin-left: 1.5rem;
    width: calc(90% - 1.5rem );
    font-size: var(--normal-font-size);
}
.newsletter__input::placeholder{
    color: var(--dark-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-blod);
}
.newsletter__subscribe .button{
    border: none;
    outline: none;
}
/* footer */
.footer__container{
    grid-template-columns: repeat(auto-fit,minmax(220px ,1fr));
}
.footer__box{
    margin-bottom: var(--mb-2);
}
.footer__title{
    font-size: var(--big-font-size);
}
.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-0-5);
}
.footer__social{
    font-size: 1.5rem;
    margin-right: 1.25rem;
}
.footer__copy{
    padding-top: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--dark-color-light);
    text-align: center;
}
/* media queries */
@media screen  and (min-width:768px){
    body{
        margin: 0;
    }
    .section{
        padding:  7rem 0;
    }
    
    .section-title::after{
        width: 76px;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        margin: 0 auto;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-3);
        margin-bottom: 0;
    }
    .l-header{
        position: static;
        overflow: visible;
    }
    .home__container{
        height: inherit;
        padding-bottom:2rem ;
    }
    .scroll-header{
        position: fixed;
    }
}
@media screen and (min-width:1024px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .collection__container{
        grid-template-columns:  repeat(2, 415px);
    }
}